# program launcher desktop files
super + d
  exec bash -c "rofi -modi 'drun' -show drun -font 'Noto Sans 14' -theme custom -drun-show-actions"

# program launcher
super + shift + d
  exec bash -c "rofi -modi 'run' -show run -font 'Noto Sans 14' -theme custom"

# window switcher
super + Tab
  exec bash -c "rofi -modi 'window' -show window -font 'Noto Sans 14' -theme custom"

