!-------------------------------------------------------------------------------
! Define colors
!-------------------------------------------------------------------------------
#define black_dark          {{ colors.black.dark|colorf(fromf='rgba_hex', tof='rgb_hex') }}
#define black_light         {{ colors.black.light|colorf(fromf='rgba_hex', tof='rgb_hex') }}
#define red_dark            {{ colors.red.dark|colorf(fromf='rgba_hex', tof='rgb_hex') }}
#define red_light           {{ colors.red.light|colorf(fromf='rgba_hex', tof='rgb_hex') }}
#define green_dark          {{ colors.green.dark|colorf(fromf='rgba_hex', tof='rgb_hex') }}
#define green_light         {{ colors.green.light|colorf(fromf='rgba_hex', tof='rgb_hex') }}
#define yellow_dark         {{ colors.yellow.dark|colorf(fromf='rgba_hex', tof='rgb_hex') }}
#define yellow_light        {{ colors.yellow.light|colorf(fromf='rgba_hex', tof='rgb_hex') }}
#define blue_dark           {{ colors.blue.dark|colorf(fromf='rgba_hex', tof='rgb_hex') }}
#define blue_light          {{ colors.blue.light|colorf(fromf='rgba_hex', tof='rgb_hex') }}
#define violet_dark         {{ colors.violet.dark|colorf(fromf='rgba_hex', tof='rgb_hex') }}
#define violet_light        {{ colors.violet.light|colorf(fromf='rgba_hex', tof='rgb_hex') }}
#define cyan_dark           {{ colors.cyan.dark|colorf(fromf='rgba_hex', tof='rgb_hex') }}
#define cyan_light          {{ colors.cyan.light|colorf(fromf='rgba_hex', tof='rgb_hex') }}
#define white_dark          {{ colors.white.dark|colorf(fromf='rgba_hex', tof='rgb_hex') }}
#define white_light         {{ colors.white.light|colorf(fromf='rgba_hex', tof='rgb_hex') }}

background:                 black_dark
foreground:                 white_light

color0:                     black_dark
color1:                     red_dark
color2:                     green_dark
color3:                     yellow_dark
color4:                     blue_dark
color5:                     violet_dark
color6:                     cyan_dark
color7:                     white_dark
color8:                     black_light
color9:                     red_light
color10:                    green_light
color11:                    yellow_light
color12:                    blue_light
color13:                    violet_light
color14:                    cyan_light
color15:                    white_light

