[Unit]
Description=A fast and easy-to-use status bar
Documentation=man:polybar(1)

[Service]
ExecStart={{ mduser.dirs.bin }}/polybar top --quiet
ExecReload={{ mduser.dirs.bin }}/polybar-msg -p $MAINPID cmd restart
ExecStop={{ mduser.dirs.bin }}/polybar-msg -p $MAINPID cmd quit
